@font-face {
    font-family: pokemon;
    src:url(Pokemon\ Classic.ttf);   
}

body {
  display: flex;
  overflow-y: hidden;
  background-image: url(images/backgroundwoofa.png)
}

.welcome {
    background-image: url('images/cloversblur.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    margin-top: 150px;
    margin-left: 30px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
  }

  @keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

  .scroll {
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
}

  .scroll span {
    display: inline-block;
    padding-left: 100%;
    font-family: 'pokemon';
    text-align: bottom;
    -webkit-text-stroke: 0px #43e486;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 140px;
    font-size: 25px;
    animation: marquee 10s linear infinite;
}

.bigdiv {
    height: 100vh;
    width: 280px;
    margin-left: 30px;
}

.about {
  margin-top: 152px;
  margin-left: 30px;
  width: 850px;
  height: 650px;
  outline: solid;
  outline-width: 2px;
  outline-color: #e9afba;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 500px; /* set the width of the parent div */
  height: 600px; /* set the height of the parent div */
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(196, 196, 196);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #9dff00;
    border: 3px solid #9dff00;
  }



.button {
    width: 45%; /* set the width of each child div */
    height: 200px; /* set the height of each child div */
    background-color: #aa1c4c1e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
}

.button1 {
    width: 100%;
    height: 130px;
    background: rgb(0,211,255);
    background: rgb(0,211,255);
    background: rgb(0,211,255);
    border: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: pink;
    text-decoration: solid;
    color: white;
    background: linear-gradient(-45deg, rgba(0,211,255,0.28895308123249297) 0%, rgba(9,9,121,0.3085609243697479) 55%);
}

.button2 {
    width: 45%; /* set the width of each child div */
    height: 200px; /* set the height of each child div */
    background-color: #c2ff191e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
}

.button3 {
    width: 45%;
    height: 200px;
    background-color: #c919ff1e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
}

.button4 {
    width: 45%;
    height: 200px;
    background-color: #0ebbf034;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
}

.button5 {
    width: 45%;
    height: 200px;
    background-color: #43f00e34;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
    font-family: pokemon;
}

.button6 {
    width: 45%;
    height: 200px;
    background-color: #aa1c4c1e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
    font-family: pokemon;
    text-align: center;
    align-items: center;
}

.button7 {
    width: 45%;
    height: 200px;
    background-color: #aa1c4c1e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
}

.button8 {
    width: 45%;
    height: 200px;
    background-color: #aa1c4c1e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
}

.button9 {
    width: 45%;
    height: 200px;
    background-color: #aa1c4c1e;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    border-color: green;
}

.banner {
    font-family: pokemon;
    font-size: 12px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.795);
}

.iframe {
    margin-left: 7px;
}

.minibanner {
    margin-left: 30px;
    margin-top: 10px;
    height: 35px;
    background-color: rgb(253, 191, 191);
    text-align: center;
    line-height: 35px;
    color: rgb(0, 0, 0);
    font-family: pokemon;
    font-size: 10px;
    text-decoration: underline;
}

.minibanner1 {
    margin-left: 30px;
    margin-top: 10px;
    height: 35px;
    background-color: rgba(251, 255, 0, 0.801);
    text-align: center;
    line-height: 35px;
    color: rgb(0, 0, 0);
    font-family: pokemon;
    font-size: 10px;
    text-decoration: underline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.camera {
    font-family: pokemon;
    font-size: 10px;
    margin-left: 10px;
}

li {
    font-family: pokemon;
    font-size: 10px;
}

.countdown {
    margin-left: 20px;
    font-size: 10px;
}

.announcement {
    font-family: pokemon;
    text-align: right;
    display: inline-block;
    font-family: 'pokemon';
    text-align: bottom;
    -webkit-text-stroke: 0px #43e486;
    white-space: normal;
    min-width: 100%;
    height: 100%;
    line-height: 140px;
    font-size: 25px;
    animation: marquee 6s linear infinite;
}


