@font-face {
    font-family: pokemon;
    src:url(Pokemon\ Classic.ttf);   
}

body {
  display: flex;
}

.welcome {
    background-image: url('images/cloversblur.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    margin-top: 150px;
    margin-left: 30px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
  }

  @keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

  .scroll {
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
}

  .scroll span {
    display: inline-block;
    padding-left: 100%;
    font-family: 'pokemon';
    text-align: bottom;
    -webkit-text-stroke: 1px #43e486;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 140px;
    font-size: 25px;
    animation: marquee 10s linear infinite;
}

.bigdiv {
    height: 100vh;
    width: 280px;
}

.about {
  margin-top: 148px;
  margin-left: 25px;
}
