@font-face {
    font-family: pokemon;
    src:url(Pokemon\ Classic.ttf);   
}

.welcome {
    background-image: url('your-image-url-here');
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    padding-top: 150px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
  }
